<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="$${STYLE_PATH}$$">
</head>

<body>
  <div>
    <h1 class="title text-center">Добро пожаловать в Slang!</h1>

    <div class="text-center">
      <div>
        <p class="f2">Вы можете создать новый проект или открыть существующий.</p>
      </div>
      <div>
        <div>
          <div class="dib w-50">
            <a href="command:slang.createProject" class="btn" title="Создать новый проект">Создать новый проект</a>
          </div>
          <div class="dib w-50">
            <a href="command:slang.openProject" class="btn" title="Открыть существующий проект">Открыть существующий проект</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

  </script>
</body>

</html>