.title {
    font-size: 3em;
    font-weight: unset;
}

.text-center {
    text-align: center
}

.btn {
    color: white;
    background-color: rgb(14, 99, 156);
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-decoration: solid;
}

.btn:hover {
    background-color: rgb(17, 119, 187);
}